certifi==2021.5.30
chardet==4.0.0
click==8.0.1
dataclasses==0.8
filelock==3.0.12
idna==2.10
importlib-metadata==4.6.1
joblib==1.0.1
numpy==1.19.5
packaging==21.0
Pillow==8.3.1
pyparsing==2.4.7
regex==2021.7.6
requests==2.25.1
sacremoses==0.0.45
sentencepiece==0.1.96
six==1.16.0
tokenizers==0.8.1rc2
torch==1.7.1+cu110
torchvision==0.8.2+cu110
tqdm==4.61.2
transformers==3.2.0
typing-extensions==3.10.0.0
urllib3==1.26.6
zipp==3.5.0
